* {
    box-sizing: border-box;
    border-width: 0;
    border-style: solid;
}

@import url('https://fonts.cdnfonts.com/css/univers-next-pro');
body {
    font-family: Univers Next W00 Bold, sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    text-decoration: none;
    text-transform: none;
    line-height: 1.55;
    color: #0f2b4b;
    background-color: #ffffff;
    margin: 0;
}

.navbar {
    background-color: white;
    justify-content: flex-end;
    overflow: hidden;
    display: flex;
    width: 100%;
    padding-left: 1em;
    padding-right: 1em;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
}

.navbar a, .dropdown .dropbtn {
    font-family: Univers Next W00 Light;
    display: inline-block;
    color: #0f2b4b;
    text-align: center;
    padding: 14px 20px;
    font-size:18px;
    text-decoration: none;
    transition: background-color 0.3s, color 0.3s;
}

.navbar a:hover, .dropdown:hover .dropbtn {
    background-color: #ddd;
    color: black;
}

.dropdown {
    display: flex;
    position: relative;
    color: #f2f2f2;
}

.dropdown .dropbtn {
    cursor: pointer;
    background-color: #333;
    border: none;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 8px;
}

.container {
    width: 100%;
    max-width: 90%;
    margin: 100px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    text-align: center;
    overflow-x: auto;
}

h1 {
    margin-bottom: 20px;
    font-size: 24px;
}

form {
    margin-top: 0.5em;
    margin-left: 0.5em;
    display: flex;
    flex-direction: column;
}

table, th, td {
    border: 1px solid #ddd;
    width: auto;
    text-align: left;
    border-collapse: collapse;
    position: relative;
}

th, td {
    padding: 10px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

label {
    margin-bottom: 5px;
}

input {
    margin-bottom: 15px;
    margin-right: 15px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    max-width: 200px;
    padding: 10px;
    margin: 2px;
    font-size: 16px;
    background-color: #3984be;
    color: #fff;
    border: none;
    border-radius: 50px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

a {
    color: #007BFF;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

p {
    margin-top: 15px;
}

select {
    margin-bottom: 15px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.blog-post-card-blog-post-card {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background: white;
    width: 100%;
    display: flex;
    position: relative;
    max-width: 400px;
    transition: 0.3s;
    flex-direction: column;
    justify-content: space-between;
    margin: 10px;
}

.blog-post-card-container {
    width: 100%;
    padding: 1em;
    display: flex;
    align-items: flex-start;
    padding-top: 32px;
    padding-right: 8px;
    flex-direction: column;
    padding-bottom: 32px;
    justify-content: space-between;
    background-color: #ffffff;
}

.blog-post-header {
    position: relative;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    font-size: 40px;
    background-color: white;
}

.home-container {
    width: 100%;
    display: flex;
    min-height: 100vh;
    overflow-x: hidden;
    align-items: center;
    padding-top: 6.5em;
    flex-direction: column;
}

.logo-container {
    position:absolute;
    margin-left: 5em;
}

.login-form {
    margin: 0, 1em;
    display: flex;
    align-content: center;
    flex-direction: column;
}

.login-text {
    font-weight: lighter;
    font-size: 20px;

}

.login-submit-buttons {
    display: flex;
    flex-direction:column;
    align-items: center
}

.back-to-home {
    font-weight: lighter;
    font-size: 14px;
}

