<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Orders</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
<div th:replace="~{fragments/navbar::navbar(activeLink=${'home'})}"></div>
<div class="container">
    <h1>Артикули</h1>

    <form
            th:method="post"
            th:action="@{/articles/addArticle}"
            th:object="${articleData}"
    >
    <div class="add-container">

        <!--Article-->
        <div class="preOrder-entity">
            <label class="preOrder-label"
                   th:for="artNum">Арт. номер:
            </label>

            <small class="text-danger" th:if="${#fields.hasErrors('artNum')}" th:errors="*{artNum}">Article Error</small>

            <input class="preOrder-input"
                   type="text"
                   th:errorclass="is-invalid"
                   th:field="*{artNum}" minlength="2" maxlength="50" required>
        </div>

        <!--Quantity-->
        <div class="preOrder-entity">
            <label class="preOrder-label"
                   th:for="name">Наименование:
            </label>

            <small class="text-danger" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name Error</small>

            <input class="preOrder-input"
                   type="text"
                   th:errorclass="is-invalid"
                   th:field="*{name}" minlength="1" maxlength="50" required>
        </div>

        <!--Order by-->
        <div class="preOrder-entity">
            <label class="preOrder-label"
                   th:for="description">Описание:
            </label>

            <small class="text-danger" th:if="${#fields.hasErrors('description')}" th:errors="*{description}">Description Error</small>

            <input class="preOrder-input"
                   type="text"
                   th:errorclass="is-invalid"
                   th:field="*{description}" minlength="1" maxlength="50">
        </div>

        <!--Date-->
        <div class="preOrder-entity">
            <label class="preOrder-label"
                   th:for="imgUrl">Снимка:
            </label>

            <small class="text-danger" th:if="${#fields.hasErrors('imgUrl')}" th:errors="*{imgUrl}">Quantity Error</small>

            <input class="preOrder-input"
                   type="text"
                   th:errorclass="is-invalid"
                   th:field="*{imgUrl}" minlength="1" maxlength="50">
        </div>

        <!--Order reason-->
        <div class="preOrder-entity">
            <label class="preOrder-label"
                   th:for="barcode">Баркод:
            </label>

            <small class="text-danger" th:if="${#fields.hasErrors('barcode')}" th:errors="*{barcode}">Barcode Error</small>

            <input class="preOrder-input"
                   type="text"
                   th:errorclass="is-invalid"
                   th:field="*{barcode}" minlength="1" maxlength="50">
        </div>

        <!--Comments-->
        <div class="preOrder-entity">
            <label class="preOrder-label"
                   th:for="quantityInPallet">Брой в палет:
            </label>

            <small class="text-danger" th:if="${#fields.hasErrors('quantityInPallet')}" th:errors="*{quantityInPallet}">comment Error</small>

            <input class="preOrder-input"
                   type="number"
                   th:errorclass="is-invalid"
                   th:field="*{quantityInPallet}" minlength="1" maxlength="4" >
        </div>

        <button type="submit">Добави артикул</button>
    </div>

        <table>
            <thead>
            <tr class="table-data">
                <th th:text="#{article_number}">Артикулен номер</th>
                <th th:text="#{article_name}">Quantity</th>
                <th th:text="#{article_description}">Ordered by</th>
                <th th:text="#{article_img_url}">Order reason</th>
                <th th:text="#{article_barcode}">Comment</th>
                <th th:text="#{article_quantity_in_pallet}">Ordered by</th>
                <th> Action </th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="article : ${allArticles}"
                th:object="${article}" class="container">
                <td><span th:text="*{artNum()}">Art. </span></td>
                <td><span th:text="*{name()}">Quantity</span></td>
                <td><span th:text="*{description()}">Date</span></td>
                <td><span th:text="*{imgUrl()}">Order reason</span></td>
                <td><span th:text="*{barcode()}">Number of stops</span></td>
                <td><span th:text="*{quantityInPallet()}">Number of stops</span></td>
<!--                <td><span th:text="*{author()}">Added by</span></td>-->
                <td>
                    <form th:method="GET"
                          th:action="@{/articles/{artNum}(artNum=*{artNum()})}" >
<!--                        <input type="hidden" name="id" th:value="get">-->
<!--                        <button onclick="editArticle" th:method="get" th:href="@{/article/editArticle/{id}(id=*{id})}">Edit</button>-->
                        <button type="submit">Edit</button>
                    </form>

<!--                    <form th:method="get"-->
<!--                          th:action="@{/elevator/editElevator/{id}(id=*{id})}">-->
<!--                        <button onclick="editElevator(1)" th:method="get" th:href="@{/elevator/editElevator/{id}(id=*{id})}">Edit</button>-->
<!--                    </form>-->

                </td>
            </tr>
            </tbody>
        </table>
    </form>
</div>
</body>
</html>
