<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Ensure these are loaded before your script if using jQuery/Bootstrap -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="/js/submitAllModalUpdates.js" defer></script>
</head>
<body>

<!-- Your modal template -->
<div th:fragment="articleDetails(article)" class="modal fade"
     th:id="'articleModal-' + ${article.id}" tabindex="-1" role="dialog">

    <input type="hidden" name="id" th:value="${article.id}"/>

    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" th:text="${article.brand + ' - ' + article.name}"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="detail-group">
                                <label>Наименование:</label>
                                <div contenteditable="true" class="editable-field" data-field="name">
                                    <span th:text="${article.name}"></span>
                                </div>
                                <input type="hidden" name="name" th:value="${article.name}"/>
                            </div>
                            <div class="detail-group">
                                <label>Артикулен номер:</label>
                                <span th:text="${article.artNum}"></span>
                            </div>
                            <div class="detail-group">
                                <label>Image URL:</label>
                                <div contenteditable="true" class="editable-field" data-field="imageUrl">
                                    <span th:text="${article.imageUrl}"></span>
                                </div>
                                <input type="hidden" name="imageUrl" th:value="${article.imageUrl}"/>
                                <div th:if="${article.imageUrl}" style="max-width: 480px; width: 100%;">
                                    <a th:href="${article.imageUrl}" target="_blank" style="display: block;">
                                        <img th:src="${article.imageUrl}"
                                             alt="Product Image"
                                             style="width: 100%;
                                height: auto;
                                max-width: 480px;
                                max-height: 480px;
                                object-fit: contain;
                                display: block;">
                                    </a>
                                </div>
                                <span th:unless="${article.imageUrl}">N/A</span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="detail-group">
                                <label>Баркод:</label>
                                <div contenteditable="true" class="editable-field" data-field="barcode">
                                    <span th:text="${article.barcode}"></span>
                                </div>
                                <input type="hidden" name="barcode" th:value="${article.barcode}"/>
                            </div>
                            <div class="detail-group">
                                <label>Код Деплан:</label>
                                <div contenteditable="true" class="editable-field" data-field="codeDeplan">
                                    <span th:text="${article.codeDeplan}"></span>
                                </div>
                                <input type="hidden" name="codeDeplan" th:value="${article.codeDeplan}"/>
                            </div>
                            <div class="detail-group">
                                <label>Описание:</label>
                                <div contenteditable="true" class="editable-field" data-field="description">
                                    <p th:text="${article.description}"></p>
                                </div>
                                <input type="hidden" name="description" th:value="${article.description}"/>
                            </div>
                            <div class="detail-group">
                                <label>Страница на продукта:</label>
                                <div contenteditable="true" class="editable-field" data-field="artUrl">
                                    <a th:if="${article.artUrl}" th:href="${article.artUrl}" target="_blank"
                                       th:text="${article.artUrl}"></a>
                                    <span th:unless="${article.artUrl}">N/A</span>
                                </div>
                                <input type="hidden" name="artUrl" th:value="${article.artUrl}"/>
                            </div>
                            <div class="detail-group">
                                <label>Количество в палет:</label>
                                <div contenteditable="true" class="editable-field" data-field="quantityInPallet">
                                    <span th:text="${article.quantityInPallet}"></span>
                                </div>
                                <input type="hidden" name="quantityInPallet" th:value="${article.quantityInPallet}"/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="button" data-dismiss="modal">Close</button>
                <button type="button" class="button save-modal-changes">Save</button>
            </div>
        </div>
    </div>
</div>
</body>
</html>