<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>
<!--    <link rel="stylesheet" href="../static/css/styles.css">-->
    <link rel="stylesheet" href="/css/styles.css">
    <script src="https://code.jquery.com/jquery-3.7.0.js"></script>

</head>
<body>
<div>
    <div th:replace="~{fragments/navbar::navbar(activeLink=${'home'})}"/>
</div>
<div class="home-container">
    <h1>Страница за заявки</h1>
    <!--    <div sec:authorize="isAuthenticated()">Welcome : <span th:text="${userData}"></span></div>-->
    <div>Здравей: <span th:text="${userData}"></span></div>

    <div class="section-container">
        <div class="max-width-container">

            <div class="home-container08">
                <!--                <div class="blog-post-card-blog-post-card blog-post-card-root-class-name">-->
                <!--Users:-->
                <div sec:authorize="!isAuthenticated()" class="blog-post-card-blog-post-card">
                    <div class="blog-post-header">
                            <span class="blog-post-card-text">
                            <span><h3>Потребителски панел:</h3></span>
                            </span>
                    </div>
                    <div class="blog-post-card-container">
                        <a href="/users/register">Регистрация</a>
                        <a href="/users/login">Вход</a>
                    </div>
                </div>

                <div sec:authorize="hasRole('ADMIN')" class="blog-post-card-blog-post-card">
                    <div class="blog-post-header">
                        <span class="blog-post-card-text">
                            <h3 th:text="#{index_user_control}">Users control:</h3>
                        </span>
                    </div>
                    <div class="blog-post-card-container">
                        <a href="/users/all">Users management</a>

                    </div>
                </div>
                <!--Elevators-->
                <div sec:authorize="isAuthenticated()" class="blog-post-card-blog-post-card">
                    <div class="blog-post-header">
                        <span class="blog-post-card-text">
                            <span><h3 th:text="#{index_orders_menu}">Заявки:</h3></span>
                        </span>
                    </div>
                    <div class="blog-post-card-container">
                        <a href="/orders/all" th:text="#{index_order_list}">Add new elevator</a>
                        <a href="/orders/preOrder" th:text="#{index_preOrder_list}">Elevator registry</a>
<!--                        <br>-->
<!--                        <a href="/inspection/selectCustomer" th:text="#{index_add_inspection_by_customer}">Add inspection by customer</a>-->
                    </div>
                </div>
                <!--Elevators-->
                <div sec:authorize="isAuthenticated()" class="blog-post-card-blog-post-card">
                    <div class="blog-post-header">
                        <span class="blog-post-card-text">
                            <span><h3 th:text="#{index_article_menu}">Заявки:</h3></span>
                        </span>
                    </div>
                    <div class="blog-post-card-container">
                        <a href="/articles/all-articles" th:text="#{index_article_list}">All articles</a>
                        <!--                            <a href="/orders/preOrder" th:text="#{index_preOrder_list}">Elevator registry</a>-->
                        <!--                        <br>-->
                        <!--                        <a href="/inspection/selectCustomer" th:text="#{index_add_inspection_by_customer}">Add inspection by customer</a>-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
