<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Form Example</title>
    <meta charset="UTF-8">
</head>
<body>
<h1>Grohe order test</h1>
<form th:action="@{/submitForm}" method="post">
    <div>
        <label for="artNum">Article number:</label>
        <input type="text" id="artNum" name="artNum" th:value="${artNum}">
    </div>
    <div>
        <label for="quantityForOrder">Quantity for order: </label>
        <input type="text" id="quantityForOrder" name="quantityForOrder" th:value="${quantityForOrder}">
    </div>

    <div>
        <button type="submit">Submit</button>
    </div>
</form>
</body>
</html>