<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Orders</title>
    <!-- Add these for modal functionality -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/css/styles.css">

    <script>
        function showOrderDetails(orderId) {

            // Show the specific order details table
            const detailsTable = document.getElementById('orderDetails-' + orderId);

            if (detailsTable) {
                const currentDisplay = window.getComputedStyle(detailsTable).display;

                if (currentDisplay === 'none') {

                    // Hide all order details tables first
                    document.querySelectorAll('.order-details-table').forEach(table => {
                        table.style.display = 'none';
                    });

                    detailsTable.style.display = 'table';
                } else {
                    detailsTable.style.display = 'none';
                }
            }

        }

        function handleSearchResults() {
            // Hide all order details tables when performing a new search
            document.querySelectorAll('.order-details-table').forEach(table => {
                table.style.display = 'none';
            });

            // Show only the search results (if any)
            const searchResults = document.querySelectorAll('.search-result-table');
            searchResults.forEach(table => {
                table.style.display = 'table';
            });
        }
    </script>
    <script src="/js/submitAllModalUpdates.js" defer></script>
    <script src="/js/yearSelector.js" defer></script>
</head>
<body>

<div th:if="${(brand == 'Grohe')}">
    <div th:replace="~{fragments/navbar::navbar(activeLink=${'home'})}"></div>
</div>
<div th:unless="${(brand == 'Grohe')}">
    <div th:replace="~{fragments/navbarViega::navbar(activeLink=${'home'})}"></div>
</div>

<div class="container">
    <!-- container for Search fields -->
    <div class="add-container">
        <form th:method="GET" th:action="@{/orders/search/*{artNum}}" onsubmit="handleSearchResults()">
            <label for="artNum">Заявки включващи артикул:</label>
            <input type="text" name="artNum" id="artNum" th:value="*{artNum}">
            <input type="hidden" name="brand" th:value="${brand}">
<!--            <input type="hidden" class="year-input" name="year" th:value="${year}">-->
            <input type="hidden" name="year" th:value="${selectedYear}">
            <button class="pre-order-add-btn" type="submit">Търси</button>
        </form>

        <form th:method="GET" th:action="@{/orders/searchOrderBy/{orderBy}}">
            <label for="orderBy">Заявени артикули от потребител:</label>
            <input type="text" name="orderBy" id="orderBy" th:value="*{orderBy}">
            <input type="hidden" name="brand" th:value="${brand}">
            <input type="hidden" name="year" th:value="${selectedYear}">
            <button class="pre-order-add-btn" type="submit">Търси</button>
        </form>
        <form th:method="GET" th:action="@{/orders/searchOnlyArticle/*{artNum}}">
            <label for="artNum">Търсене на артикул:</label>
            <input type="text" name="artNum" id="artNumOnly" th:value="*{artNum}">
            <input type="hidden" name="brand" th:value="${brand}">
            <input type="hidden" name="year" th:value="${selectedYear}">
            <button class="pre-order-add-btn" type="submit">Търси</button>
        </form>
        <form th:method="GET" th:action="@{/orders/searchByComment/*{comment}}">
            <label for="artNum">Търсене по коментар:</label>
            <input type="text" name="comment" id="comment" th:value="*{comment}">
            <input type="hidden" name="brand" th:value="${brand}">
            <input type="hidden" name="year" th:value="${selectedYear}">
            <button class="pre-order-add-btn" type="submit">Търси</button>
        </form>
        <form class="years-selector" method="get" id="yearForm">
            <label for="year">Изберете година:</label>
            <select id="year" name="year" class="year-select" onchange="saveAndSubmit(this)">
                <option th:each="year : ${yearsWithOrder}"
                        th:value="${year}"
                        th:text="${year}"
                        th:selected="${selectedYear == year}">
                </option>
            </select>
            <input type="hidden" name="brand" th:value="${brand}" id="brandInput">
        </form>
    </div>

    <!-- tables for Search details -->
    <div th:each="order : ${ordersWithArt}" class="search-result-table-by-param">
        <table th:attr="id='orderDetails-' + ${order.id}" class="search-result-table">

            <thead>
            <tr>
                <th th:text="${order.orderName()}"></th>
                <th><a href="#" class="update-order"
                       th:attr="onclick='showOrderDetails(' + ${order.id} + ')'">Затвори</a></th>
            </tr>
            <tr>
                <th th:text="#{article_number}">Article Number</th>
                <th th:text="#{orders_pcs}">Quantity</th>
                <th th:text="#{article_name}">Name</th>
                <th th:text="#{orders_ordered_by}">Ordered By</th>
                <th th:text="#{orders_date}">Date of Order</th>
                <th th:text="#{orders_confirmation}">Date of Delivery</th>
                <th th:text="#{orders_reason}">Order Reason</th>
                <th th:text="#{orders_comment}">Comment</th>
                <th th:text="#{orders_detail}">&#128269;</th>
            </tr>

            </thead>
            <tbody>
            <tr th:each="article : ${order.articleList}" th:object="${article}">
                <td th:text="${article.getArticle.artNum}"></td>
                <td th:text="${article.quantity}"></td>
                <td th:text="${article.getArticle.name}"></td>
                <td th:text="${article.orderBy}"></td>
                <td th:text="${article.dateOfOrder}"></td>
                <td th:text="${article.dateOfDelivery}"></td>
                <td th:text="${article.orderReason}"></td>
                <td th:text="${article.comment}"></td>
                <td>
                    <button type="button" class="btn" data-toggle="modal"
                            th:attr="data-target='#articleModal-' + ${article.getArticle().id}">
                        &#128269;
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
        <button th:text="#{btn_Update}" type="button" class="button btn-primary fix" onclick="submitAllUpdates()">Update
            All
        </button>
    </div>
    <!--    TEST-->
    <div>
        <table class="search-result-table-by-param"
               th:style="${articlesByParam != null and !articlesByParam.empty} ? 'display: table;' : 'display: none;'">
            <thead>
            <tr>
                <th>
                    <input type="hidden" name="brand" th:value="${order.brand}">
                    <a th:method="GET"
                       th:href="@{${brand == 'Grohe' ? '/orders/allNewGrohe' : '/orders/allNewViega'}}"
                       class="update-order">Затвори</a>
                </th>
            </tr>
            <tr>
                <th>Заявка</th>
                <th>Артикул</th>
                <th>Количество</th>
                <th>Поръчано от</th>
                <th>Дата на поръчка</th>
                <th>Дата на доставка</th>
                <th>Order Reason</th>
                <th>Коментар</th>
                <th th:text="#{orders_detail}">&#128269;</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="article : ${articlesByParam}" th:object="${article}">

                <input type="hidden" name="articleID" th:value="${article.id}">
                <input type="hidden" name="position" th:value="${article.position}">

                <td>
                    <form th:method="GET" th:action="@{/orders/orderInfo/{id}(id=${article.orderId})}"
                          style="display: inline; margin: 0; padding: 0;">
                        <input type="hidden" name="brand" th:value="${brand}">
                        <input type="hidden" name="id" th:value="${article.orderId}">
                        <button type="submit" class="order-button">
                            <span th:text="${article.orderName}"></span>
                        </button>
                    </form>
                </td>

                <input type="hidden" name="id" th:value="${article.orderId}">

                <td>
                    <div contenteditable="true" oninput="updateHiddenInput(this)"
                         th:text="${article.article}"></div>
                    <input type="hidden" name="article" th:value="${article.article}">
                </td>

                <td>
                    <div contenteditable="true" oninput="updateHiddenInput(this)"
                         th:text="${article.quantity}"></div>
                    <input type="hidden" name="quantity" th:value="${article.quantity}">
                </td>

                <td>
                    <div contenteditable="true" oninput="updateHiddenInput(this)"
                         th:text="${article.orderBy}"></div>
                    <input type="hidden" name="orderBy" th:value="${article.orderBy}">
                </td>


                <td>
                    <div contenteditable="true" oninput="updateHiddenInput(this)"
                         th:text="${article.dateOfOrder}"></div>
                    <input type="hidden" name="dateOfOrder" th:value="${article.dateOfOrder}">
                </td>

                <td>
                    <div contenteditable="true" oninput="updateHiddenInput(this)" th:text="*{dateOfDelivery}"></div>
                    <input type="hidden" name="dateOfDelivery" th:value="*{dateOfDelivery}">
                </td>

                <td>
                    <div contenteditable="true" oninput="updateHiddenInput(this)"
                         th:text="${article.orderReason}"></div>
                    <input type="hidden" name="orderReason" th:value="${article.orderReason}">
                </td>

                <td>
                    <div contenteditable="true" oninput="updateHiddenInput(this)" th:text="${article.comment}"></div>
                    <input type="hidden" name="comment" th:value="${article.comment}">
                </td>

                <td>
                    <button type="button" class="btn" data-toggle="modal"
                            th:attr="data-target='#articleModal-' + ${article.id}">
                        &#128269;
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
        <button th:text="#{btn_Update}" type="button" class="button btn-primary fix" onclick="submitAllUpdates()">Update
            All
        </button>
    </div>

    <!-- Hidden tables for order details -->
    <div th:each="order : ${orderInfo}" class="search-result-table-by-param" th:style="${orderInfo.articleList != null and !orderInfo.articleList.empty} ? 'display: table;' : 'display: none;'">
        <table th:attr="id='orderDetails-' + ${order.id}" class="search-result-table-by-param">
            <thead>
            <tr>
                <th th:text="${order.orderName()}"></th>
                <th>
                    <input type="hidden" name="brand" th:value="${order.brand}">
                    <a th:method="GET"
                       th:href="@{${order.brand == 'Grohe' ? '/orders/allNewGrohe' : '/orders/allNewViega'}}"
                    class="update-order">Затвори</a>
                </th>
            </tr>
            <tr>
                <th th:text="#{article_number}">Article Number</th>
                <th th:text="#{article_name}">Name</th>
                <th th:text="#{orders_pcs}">Quantity</th>
                <th th:text="#{orders_ordered_by}">Ordered By</th>
                <th th:text="#{orders_date}">Date of Order</th>
                <th th:text="#{orders_confirmation}">Date of Delivery</th>
                <th th:text="#{orders_reason}">Order Reason</th>
                <th th:text="#{orders_comment}">Comment</th>
                <th th:text="#{orders_detail}">&#128269;</th>
            </tr>

            </thead>
            <tbody>

            <tr th:each="article : ${orderInfo.articleList}" th:object="${article}">

                <input type="hidden" name="brand" th:value="${brand}">
                <input type="hidden" name="year" value="">
                <input type="hidden" name="id" th:value="${orderInfo.id()}">
                <input type="hidden" name="articleID" th:value="${article.getId()}">
                <input type="hidden" name="position" th:value="${article.position}">

                <td>
                    <div contenteditable="true" oninput="updateHiddenInput(this)"
                         th:text="${article.getArticle.artNum}"></div>
                    <input type="hidden" name="artNum" th:value="${article.getArticle.artNum}">
                </td>
                <td>
                    <div contenteditable="true" oninput="updateHiddenInput(this)"
                         th:text="*{getArticle().getName()}"></div>
                    <input type="hidden" name="artName" th:value="*{getArticle().getName()}">
                </td>
                <td class="quantity">
                    <div contenteditable="true" oninput="updateHiddenInput(this)" th:text="*{quantity}"></div>
                    <input type="hidden" name="quantity" th:value="*{quantity}">
                </td>
                <td>
                    <div contenteditable="true" oninput="updateHiddenInput(this)" th:text="*{orderBy}"></div>
                    <input type="hidden" name="orderBy" th:value="*{orderBy}">
                </td>
                <td>
                    <div contenteditable="true" oninput="updateHiddenInput(this)" th:text="*{dateOfOrder}"></div>
                    <input type="hidden" name="dateOfOrder" th:value="*{dateOfOrder}">
                </td>
                <td>
                    <div contenteditable="true" oninput="updateHiddenInput(this)" th:text="*{dateOfDelivery}"></div>
                    <input type="hidden" name="dateOfDelivery" th:value="*{dateOfDelivery}">
                </td>
                <td>
                    <div contenteditable="true" oninput="updateHiddenInput(this)" th:text="*{orderReason}"></div>
                    <input type="hidden" name="orderReason" th:value="*{orderReason}">
                </td>
                <td>
                    <div contenteditable="true" oninput="updateHiddenInput(this)" th:text="*{comment}"></div>
                    <input type="hidden" name="comment" th:value="*{comment}">
                </td>
                <td>
                    <button type="button" class="btn" data-toggle="modal"
                            th:attr="data-target='#articleModal-' + ${article.getArticle().id}">
                        &#128269;
                    </button>
                </td>
            </tr>

            <!-- At the BOTTOM of your page, after all tables -->
            </tr>
            </tbody>
        </table>
        <button th:text="#{btn_Update}" type="button" class="button btn-primary fix" onclick="submitAllUpdates()">Update
            All
        </button>
    </div>
<!--</div>-->

<div class="container">
    <h1 th:text="#{orders_title}">Orders</h1>
    <table>
        <thead>
        <tr>
            <th th:text="#{orders_name}">Order name</th>
            <th th:text="#{orders_date}">Order date</th>
            <th></th>
            <th class="action-title">🗑</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="order : ${ordersList}" th:object="${order}">
            <!-- Order Name -->
            <td>
                <div th:text="*{name}"></div>
                <!--                    <div contenteditable="true" oninput="updateHiddenInput(this)" th:text="*{orderName}"></div>-->
                <!--                    <input type="hidden" th:field="*{orderName}">-->
            </td>

            <!-- Date -->
            <td>
                <div th:text="*{date}"></div>
                <!--                    <div contenteditable="true" oninput="updateHiddenInput(this)" th:text="*{date}"></div>-->
                <!--                    <input type="hidden" th:field="*{date}">-->
            </td>

            <!-- Actions (Update, Delete, Open) -->
            <td>
                <div class="action-column">
                    <form th:method="GET" th:action="@{/orders/orderInfo/{id}(id=${order.id})}" th:object="${order}">
                        <input type="hidden" name="brand" th:value="${brand}">
                        <button href="#" type="submit" class="open-button" onsubmit="handleSearchResults()">Отвори</button>
                    </form>
                </div>
            </td>
            <td>
                <form id="deleteForm-${order.id}" th:method="GET"
                      th:action="@{/orders/deleteOrder/{id}(id=${order.id})}" th:object="${order}">
                    <button class="delete-btn" href="#"
                            onclick="document.getElementById('deleteForm-${order.id}').submit();">x</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</div>

<div th:each="order : ${orderInfo}">
    <div th:each="article : ${order.articleList}">
        <div th:if="${article.getArticle() != null}"
             th:replace="~{articlePopup :: articleDetails(${article.getArticle()})}"></div>
    </div>
</div>

<div th:each="order : ${ordersWithArt}">
    <div th:each="article : ${order.articleList}">
        <div th:if="${article.getArticle() != null}"
             th:replace="~{articlePopup :: articleDetails(${article.getArticle()})}"></div>
    </div>
</div>

<div th:each="article : ${orderItemsByParam}">
    <div th:if="${article.getArticle() != null}"
         th:replace="~{articlePopup :: articleDetails(${article.getArticle()})}">
    </div>
</div>

<footer id="bottom">
    Deplan © 2025
</footer>

<button class="scroll-to-bottom" title="Scroll to bottom"></button>

<script>
    document.querySelector('.scroll-to-bottom').addEventListener('click', function() {
        window.scrollTo({
            top: document.body.scrollHeight,
            behavior: 'smooth'
        });
    });
</script>

</body>
</html>