<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Orders</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <div th:replace="~{fragments/navbar::navbar(activeLink=${'home'})}"></div>
<div class="container">
    <h1>Orders</h1>

    <table>
        <thead>
        <tr class="table-data">
            <th th:text="#{orders_name}">article</th>
            <th th:text="#{orders_article_number}">article</th>
            <th th:text="#{orders_pcs}">Quantity</th>
            <th th:text="#{orders_ordered_by}">Ordered by</th>
            <th th:text="#{orders_date}">Date</th>
            <th th:text="#{orders_status}">Status</th>
            <th th:text="#{orders_name}">Order</th>
            <th th:text="#{orders_confirmation}">Confirmation</th>
            <th th:text="#{orders_delivery}">Delivery date</th>
            <th th:text="#{orders_reason}">Order reason</th>
            <th th:text="#{orders_comment}">Comment</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="order : ${allOrders}"
            th:object="${order}" class="container">
            <td><span th:text="*{orderName()}">Order name</span></td>
            <td><span th:text="*{artNum()}">Id</span></td>
            <td><span th:text="*{quantityForOrder()}">Id</span></td>
            <td><span th:text="*{orderBy}">Elevator type</span></td>
            <td><span th:text="*{date()}">Manufacturer name</span></td>
            <td><span th:text="*{orderReason()}">Speed</span></td>
            <td><span th:text="*{orderComment()}">Number of stops</span></td>
<!--            <td>-->
<!--                <form sec:authorize="hasRole('ADMIN')" th:method="delete"-->
<!--                      th:action="@{/elevator/{id}(id=${elevator.id()})}" >-->
<!--                    <input type="hidden" name="id" th:value="delete">-->
<!--                    <button type="submit">Delete</button>-->
<!--                </form>-->

<!--                <form th:method="get"-->
<!--                      th:action="@{/elevator/editElevator/{id}(id=*{id})}">-->
<!--                    <button onclick="editElevator(1)" th:method="get" th:href="@{/elevator/editElevator/{id}(id=*{id})}">Edit</button>-->
<!--                </form>-->

<!--            </td>-->
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>
