<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Orders</title>
    <link rel="stylesheet" href="/css/styles.css">
    <script>
         window.addEventListener('DOMContentLoaded', (event) => {
            const today = new Date().toISOString().split('T')[0];
            document.getElementById("currentDate").value = today;
            });
    </script>

</head>
<body>
<div th:replace="~{fragments/navbar::navbar(activeLink=${'home'})}"></div>
<div class="container">
    <h1>preOrder</h1>
    <form th:method="post" th:action="@{/orders/preOrder}" th:object="${preOrderData}">
        <div class="add-container">
            <!-- Article Field -->
            <div class="preOrder-entity">
                <label for="artNum">Article:</label>
                <input type="text" id="artNum" th:field="*{artNum}" required>
            </div>
            <!-- Quantity Field -->
            <div class="preOrder-entity">
                <label for="quantityForOrder">Quantity:</label>
                <input type="number" id="quantityForOrder" th:field="*{quantityForOrder}" required>
            </div>
            <!-- Order By Field -->
            <div class="preOrder-entity">
                <label for="orderBy">Order by:</label>
                <input type="text" id="orderBy" th:field="*{orderBy}" required>
            </div>
            <!-- Date Field -->
            <div class="preOrder-entity">
                <label for="currentDate">Date:</label>
                <input type="date" id="currentDate" th:field="*{date}" required>
            </div>
            <!-- Order Reason Field -->
            <div class="preOrder-entity">
                <label for="orderReason">Order reason:</label>
                <input type="text" id="orderReason" th:field="*{orderReason}">
            </div>
            <!-- Comments Field -->
            <div class="preOrder-entity">
                <label for="comment">Comments:</label>
                <input type="text" id="comment" th:field="*{comment}">
            </div>
            <button type="submit">Добави</button>
        </div>
    </form>
        <table>
            <thead>
            <tr>
                <th>ID</th>
                <th>Article</th>
                <th>Quantity</th>
                <th>Ordered by</th>
                <th>Date</th>
                <th>Order reason</th>
                <th>Comment</th>
            </tr>
            </thead>

            <tbody>
                <tr th:each="article : ${allArticle}" th:object="${article}">
                    <form th:method="put" th:action="@{/orders/updatePreOrder/{id}(id=*{id})}" th:object="test">
                    <td th:type="hidden" th:text="*{id}"></td>
                    <td th:contenteditable="true" class="editable" th:text="*{artNum()}" th:field="*{artNum()}" th:value="*{artNum()}"></td>
                    <td th:contenteditable="true" class="editable" th:text="*{quantityForOrder()}" th:field="*{quantityForOrder()}" th:value="*{quantityForOrder()}"></td>
                    <td th:contenteditable="true" class="editable" th:text="*{orderBy()}" th:field="*{orderBy()}" th:value="*{orderBy()}"></td>
                    <td contenteditable="true" class="editable" th:text="*{date()}" th:field="*{date()}" th:value="*{date()}"></td>
                    <td contenteditable="true" class="editable" th:text="*{orderReason()}" th:field="*{orderReason()}" th:value="*{orderReason()}"></td>
                    <td contenteditable="true" class="editable" th:text="*{comment()}" th:field="*{comment()}" th:value="*{comment()}"></td>
                        <td><button type="submit">Обнови</button></td>
                    </form>
                </tr>
            </tbody>
        </table>
</div>
</body>
</html>
